<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDmUkgbKGhRUrGAGKII7CkL3Fq1HTS_5VU</string>
	<key>GCM_SENDER_ID</key>
	<string>1032636817245</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tkan66.poromodo</string>
	<key>PROJECT_ID</key>
	<string>pomodoro-app-f720d</string>
	<key>STORAGE_BUCKET</key>
	<string>pomodoro-app-f720d.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<true></true>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1032636817245:ios:a8fdeb3ae4fbd1be7012b4</string>
</dict>
</plist>